<h1 class="text-3xl font-bold mb-4">Edit Condition</h1>

<%= render 'form', condition: @condition %>

<%= link_to 'Back to Conditions', conditions_path, class: "text-blue-500 hover:underline mt-4 inline-block" %>
