<div id="inventories">
  <ul>
    <% character_sheet.inventories.each do |inventory| %>
      <div id="inventory_<%= inventory.id %>">
        <li>
          <strong><%= inventory.item.name %></strong> - Location: <%= inventory.location.humanize %>
          <%= button_to 'Remove', mission_character_sheet_remove_inventory_item_from_path(@mission, character_sheet, inventory), method: :delete, class: 'bg-red-500 text-white px-4 py-2 rounded hover:bg-red-700' %>
        </li>
      </div>
    <% end %>
  </ul>
</div>


