<%= render partial: "missions/character_sheet_details", locals: { character_sheet: @character_sheet, mission: @character_sheet.mission } %>

<!-- Navigation Links -->
<div class="mt-8">
  <% if @character_sheet.mission %>
    <%= link_to 'Back to Mission', mission_path(@character_sheet.mission), class: 'text-blue-600 hover:text-blue-800 underline' %>
  <% else %>
    <%= link_to 'Back to Character Sheets', character_sheets_path, class: 'text-blue-600 hover:text-blue-800 underline' %>
  <% end %>
</div>
