<h1 class="text-3xl font-bold mb-8">Manage Items</h1>

<!-- Display Items -->
<div id="items-list" class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6">
  <% @items.each do |item| %>
    <%= render "card", item: item %>
  <% end %>

  <!-- Empty Card with "+" Sign Form -->
  <div id="new-item-card" data-controller="new-item" class="bg-white shadow-lg rounded-lg p-6 border border-gray-200 flex justify-center items-center hover:shadow-xl transition-shadow duration-300">
    <div data-new-item-target="plusSign" class="cursor-pointer text-4xl font-bold text-blue-600" data-action="click->new-item#toggleForm">+</div>
    <%= render "new_item_form" %>
  </div>
</div>

<!-- Back to Dashboard or Missions -->
<div class="mt-8">
  <%= link_to "Back to mission dashboard", root_path, class: "text-blue-500 hover:underline" %>
</div>
