<turbo-stream action="replace" target="mission_<%= mission.id %>_play_sound">
  <template>
    <div id="mission_<%= mission.id %>_play_sound">
      Now playing: <%= sound.title %>
    </div>
  </template>
</turbo-stream>
