<!-- app/views/sounds/_play.turbo_stream.erb -->
<turbo-stream action="replace" target="play_sound_target">
  <template>
    <div>Currently playing sound: <%= sound.title %></div>
  </template>
</turbo-stream>
