<!-- app/views/sounds/_play.turbo_stream.erb -->
<div id="play_sound_target" data-controller="audio-player" data-audio-player-src-value="<%= url_for(sound.file) %>">
  Currently playing sound: <%= sound.title %>
</div>
